@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Yeon+Sung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
body {
  font-family: "Noto Sans KR", sans-serif;
}
b {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
c {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
}
d {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 600;
}
e {
  font-family: "Nanum Brush Script", cursive;
  font-weight: 600;
}
